@font-face {
    font-family: RobotoSpecial;
    src: url('RobotoSlab-Regular.ttf');
}

body {
    padding: auto;
    margin: auto;
}
nav {
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .logo-area {
        background-image: url('../images/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
    }
    ul {
        font-family: 'RobotoSpecial';
        list-style: none;
        display: flex;
        justify-content: space-between;
    li {
            padding: 20px 50px;
            font-size: larger;
        }
    }
}

main {
    background-image: url('../images/homebackground.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
       padding: 100px 50px 100px 50px;
       font-family: 'RobotoSpecial';
       background-color: rgba(190, 220, 250, 0.35);
       color: #23120b;
    }
}

footer {
    background-color: #c5a880;
    height: 50px;
    display: flex;
    p {
        margin: 15px auto;
        color: #23120b;
    }
}

